In [1]:
import pandas as pd

# Specify the file path

In [4]:
file_path = r"C:\Users\kumsam\Desktop\Excel-Automation\file\Large_Excel_Automation_Practice.xlsx"

# Step 1: Load the data

In [7]:
try:
    sales_data = pd.read_excel(file_path, sheet_name="Sales Data")
    print("Data loaded successfully!")
except Exception as e:
    print(f"Error loading data: {e}")

Data loaded successfully!

# Step 2: Check the data

In [10]:
print("Shape of data:", sales_data.shape)

Shape of data: (1000, 4)

### All rows of data

In [15]:
print("All rows of data:\n", sales_data)

All rows of data:
           Date   Product  Quantity  Price
0   2024-01-01     Mouse        65   1527
1   2024-01-02    Laptop        20   1496
2   2024-01-03   Monitor        39    499
3   2024-01-04     Mouse        31    348
4   2024-01-05   Printer        79   1684
..         ...       ...       ...    ...
995 2026-09-22   Monitor        68    713
996 2026-09-23   Monitor        14    912
997 2026-09-24     Mouse        34    409
998 2026-09-25  Keyboard        90   1099
999 2026-09-26     Mouse        27    940

[1000 rows x 4 columns]

### First few rows of data

In [18]:
print("First few rows of data:\n", sales_data.head())

First few rows of data:
         Date  Product  Quantity  Price
0 2024-01-01    Mouse        65   1527
1 2024-01-02   Laptop        20   1496
2 2024-01-03  Monitor        39    499
3 2024-01-04    Mouse        31    348
4 2024-01-05  Printer        79   1684

# Step 3: Check column names

In [21]:
print("Columns in the dataset:", sales_data.columns)

Columns in the dataset: Index(['Date', 'Product', 'Quantity', 'Price'], dtype='object')

# Step 4: Check for missing values

In [24]:
print("Missing values:\n", sales_data.isnull().sum())

Missing values:
 Date        0
Product     0
Quantity    0
Price       0
dtype: int64

# Step 5: Drop rows with missing 'Quantity' or 'Price'

In [27]:
sales_data = sales_data.dropna(subset=['Quantity', 'Price'])

# Step 6: Convert 'Quantity' and 'Price' to numeric

In [30]:
sales_data['Quantity'] = pd.to_numeric(sales_data['Quantity'], errors='coerce')
sales_data['Price'] = pd.to_numeric(sales_data['Price'], errors='coerce')

# Step 7: Check for missing values after conversion

In [33]:
print("Missing values after conversion:\n", sales_data.isnull().sum())

Missing values after conversion:
 Date        0
Product     0
Quantity    0
Price       0
dtype: int64

# Step 8: Add 'Total Revenue' column

In [107]:
sales_data['Total Revenue'] = sales_data['Quantity'] * sales_data['Price']

### First few rows after adding 'Total Revenue'

In [110]:
print("First few rows after adding 'Total Revenue':\n", sales_data.head())

First few rows after adding 'Total Revenue':
         Date  Product  Quantity  Price  Total Revenue
0 2024-01-01    Mouse        65   1527          99255
1 2024-01-02   Laptop        20   1496          29920
2 2024-01-03  Monitor        39    499          19461
3 2024-01-04    Mouse        31    348          10788
4 2024-01-05  Printer        79   1684         133036

# Step 9: Summarize revenue by product

In [113]:
revenue_by_product = sales_data.groupby('Product')['Total Revenue'].sum()

# Step 10: Display the result

In [116]:
print("Revenue by Product:\n", revenue_by_product)

Revenue by Product:
 Product
Keyboard     9733131
Laptop       9341842
Monitor     11080145
Mouse       12845839
Printer      9673461
Name: Total Revenue, dtype: int64

## Filter rows where the 'Product' column is 'Laptop'

In [119]:
Laptop_filtered = sales_data[sales_data['Product'] == 'Laptop']
print("Revenue by Product:\n", filtered_data)

Revenue by Product:
           Date Product  Quantity  Price  Total Revenue
1   2024-01-02  Laptop        20   1496          29920
9   2024-01-10  Laptop        92   1536         141312
19  2024-01-20  Laptop         3   1847           5541
22  2024-01-23  Laptop        12    232           2784
28  2024-01-29  Laptop        82    812          66584
..         ...     ...       ...    ...            ...
969 2026-08-27  Laptop        42    237           9954
984 2026-09-11  Laptop        37    324          11988
987 2026-09-14  Laptop        19   1204          22876
988 2026-09-15  Laptop        81   1088          88128
994 2026-09-21  Laptop        25    933          23325

[190 rows x 5 columns]

## Filter rows where the 'Product' column is 'Keyboard'

In [122]:
Keyboard_filtered = sales_data[sales_data['Product'] == 'Keyboard']
print("Revenue by Product:\n", Keyboard_filtered)

Revenue by Product:
           Date   Product  Quantity  Price  Total Revenue
5   2024-01-06  Keyboard        98    663          64974
7   2024-01-08  Keyboard        48    221          10608
12  2024-01-13  Keyboard        73    730          53290
25  2024-01-26  Keyboard         5    617           3085
30  2024-01-31  Keyboard        42   1154          48468
..         ...       ...       ...    ...            ...
971 2026-08-29  Keyboard        56   1777          99512
972 2026-08-30  Keyboard        28   1581          44268
976 2026-09-03  Keyboard        12   1335          16020
986 2026-09-13  Keyboard        54    965          52110
998 2026-09-25  Keyboard        90   1099          98910

[186 rows x 5 columns]

## Filter rows where the 'Product' column is 'Monitor'

In [125]:
Monitor_filtered = sales_data[sales_data['Product'] == 'Monitor']
print("Revenue by Product:\n", Monitor_filtered)

Revenue by Product:
           Date  Product  Quantity  Price  Total Revenue
2   2024-01-03  Monitor        39    499          19461
8   2024-01-09  Monitor         6   1765          10590
14  2024-01-15  Monitor        94   1705         160270
16  2024-01-17  Monitor        50    576          28800
20  2024-01-21  Monitor        76   1429         108604
..         ...      ...       ...    ...            ...
990 2026-09-17  Monitor         1    653            653
991 2026-09-18  Monitor         3    831           2493
993 2026-09-20  Monitor        94    122          11468
995 2026-09-22  Monitor        68    713          48484
996 2026-09-23  Monitor        14    912          12768

[212 rows x 5 columns]

## Filter rows where the 'Product' column is 'Mouse'

In [128]:
Mouse_filtered = sales_data[sales_data['Product'] == 'Mouse']
print("Revenue by Product:\n", Mouse_filtered)

Revenue by Product:
           Date Product  Quantity  Price  Total Revenue
0   2024-01-01   Mouse        65   1527          99255
3   2024-01-04   Mouse        31    348          10788
6   2024-01-07   Mouse        94    205          19270
13  2024-01-14   Mouse        71    109           7739
15  2024-01-16   Mouse         5   1040           5200
..         ...     ...       ...    ...            ...
975 2026-09-02   Mouse        30    762          22860
983 2026-09-10   Mouse        88    909          79992
989 2026-09-16   Mouse        98    853          83594
997 2026-09-24   Mouse        34    409          13906
999 2026-09-26   Mouse        27    940          25380

[228 rows x 5 columns]

## Filter rows where the 'Product' column is 'Printer'

In [131]:
Printer_filtered = sales_data[sales_data['Product'] == 'Printer']
print("Revenue by Product:\n", Printer_filtered)

Revenue by Product:
           Date  Product  Quantity  Price  Total Revenue
4   2024-01-05  Printer        79   1684         133036
10  2024-01-11  Printer        22     80           1760
11  2024-01-12  Printer         7   1505          10535
17  2024-01-18  Printer        26    190           4940
18  2024-01-19  Printer        16   1985          31760
..         ...      ...       ...    ...            ...
980 2026-09-07  Printer        67   1932         129444
981 2026-09-08  Printer        13   1515          19695
982 2026-09-09  Printer        75     73           5475
985 2026-09-12  Printer        29   1707          49503
992 2026-09-19  Printer        14   1616          22624

[184 rows x 5 columns]